header {
  background-color: black;
  color: white;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:0px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  
}



.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.8rem;
  flex: 1; 
}

.search {
  display: flex;
  gap: 12px;
  flex: 1;  
  justify-content: flex-end; 
  margin: 0;
  padding-right: 30px;
}

.addButton {
  background-color: #5c0f51;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;  
  left: 50%;  
  transform: translateX(-50%);  
}

.deleteButton {
  background-color: #800000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;  
  left: 60%;  
  transform: translateX(-50%);  
}